@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url(./CKH_LION_img/chuhoon.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.signin_card {
  border: 2px solid lightslategray;
  border-radius: 30px;
  width: 700px;
  margin: 200px auto;
  background-color: #f6f5f0;
}

.signinheader {
  border-bottom: 1px solid lightslategray;
  text-align: center;
}

.idpw_wrap {
  margin: 30px;
}

.input_text {
  width: 580px;
  color: #777;
  border-radius: 5px;
  border-color: lightslategray;
  font-size: 15px;
  padding: 24px 17px;
  margin: 12px 13px;
}

.signinbtn {
  width: 580px;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
}
