body {
  margin: 0;
  padding: 0;
  background-image: url(./chuhoon.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

table {
  margin: 0;
}

p {
  display: inline-block;
}

caption {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 700;
}

tr,
td,
th {
  text-align: center;
  font-size: 16px;
}

section {
  border: 2px solid #ddd;
  border-radius: 30px;
  width: 800px;
  margin: 70px auto;
  padding: 0 30px;
  background-color: rgba(245, 246, 240, 0.8);
}

.month td:nth-child(1),
th:nth-child(1) {
  color: red;
}

.t1 {
  margin: 30px 20px 0 63px;
  font-size: 70px;
  font-weight: 700;
}

.t2 {
  font-size: 20px;
  font-weight: 700;
}

.month {
  width: 300px;
  height: 150px;
  border-collapse: collapse;
}

.whole {
  margin: 25px auto;
}
